// Background colors
$b_bg_color:         #fcfcfc;
$b_fg_color:         #333;
$b_border_color:     #ddd;

// Header colors
$h_bg_color:         #213;
$h_fg_color:         #fff;

// Footer colors
$f_bg_color:         $b_bg_color;
$f_fg_color:         $b_fg_color;

// Link colors
$l_fg_color:         #44d;
$l_bg_color:         transparent;
$l_hover_bg_color:   $l_fg_color;
$l_hover_fg_color:   #fff;

// Code colors
$code_bg:            #f0f0f0;
$code_border:        #ddd;
$code_block_border:  #35a;

// Layout
$content_max_width:  800px;

// Fonts
$font_sans_serif:    "Helvetica Neue", Helvetica, Arial, sans-serif;
$font_monospace:     Menlo, Monaco, Consolas, "Lucida Console", monospace;
$default_font:       $font_sans_serif;
$content_font:       $font_sans_serif;
$code_font:          $font_monospace;

// Font sizes
$normal_font_size:   18px;
$code_font_size:     16px;
$footer_font_size:   medium;
$title_font_size:    24px;
$line_height:        1.4;
$code_line_height:   1.2;

// Mixins

@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// Defaults

html, body {
  background-color: $b_bg_color;
  color: $b_fg_color;
  font-size: $normal_font_size;
  font-family: $default_font;
  line-height: $line_height;
  margin: 0;
  padding: 0;
}

pre {
  margin: 1em 0;
  padding: 0.2em 0.8em;
  border-left: 4px solid $code_block_border;
  background-color: $code_bg;
  overflow-x: auto;
  line-height: $code_line_height;
}

code {
  border: 1px solid $code_border;
  background-color: #fff;
  @include border-radius(2px);
  padding: 0 4px;
  font-family: $code_font;
}

pre code {
  background-color: transparent;
  border: 0;
  padding: 0;
  font-size: $code_font_size;
}

a {
  color: $l_fg_color;
  background-color: $l_bg_color;
  text-decoration: underline;
  &:hover {
    color: $l_hover_fg_color;
    background-color: $l_hover_bg_color;
    text-decoration: none;
  }
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: square; 
}

// Page setup

.header {
  background-color: $h_bg_color;
  color: $h_fg_color;
  margin: 0;

  h1 {
    display: inline;
  }

  .title {
    margin: 0;
    padding: 5px 0;
    font-size: $title_font_size;
    font-weight: bold;
    a:hover {
      background-color: inherit;
      color: inherit;
    }
  }

  a {
    color: #fff;
    line-height: 24px;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    padding: 5px 5px;
    &:hover {
      background-color: $h_fg_color;
      color: $h_bg_color;
    }
  }
}

.content {
  padding-bottom: 10px;
  border-bottom: 1px solid $b_border_color;
  font-family: $content_font;
}

footer {
  color: $f_fg_color;
  padding: 10px;
  font-size: $footer_font_size;
  text-align: right;

  a {
    text-decoration: none;
  }
}

// Random elements

.box {
  max-width: $content_max_width;
  padding: 0 5px;
  margin: 0 auto;
}

.pagetitle {
  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $h_fg_color;
      background-color: $h_bg_color;
    }
  }
}

.float-container {
  .float-left {
    float: left;
  }

  .float-right {
    float: right;
  }
}

.prev-next {
  padding: 15px 0 0 0;
  overflow: hidden;
}

.right {
  float: right;
  text-align: right;
}

.posts {
  ul {
    list-style: none;
  }
}

.no-bul {
  list-style: none;
}

.inline-list {
  li {
    display: inline;
  }
}

.info-table {
  border: none;
  th {
    border: none;
    margin: 0;
    text-align: right;
    padding: 2px 15px 2px 0;
  }
}

