// Background colors
$default_bg:         #ffffff;
$default_fg:         #222;
$default_border:     #ddd;

// Header colors
$header_bg:          #213;
$header_fg:          #fff;

// Footer colors
$footer_bg:          $default_bg;
$footer_fg:          $default_fg;

// Link colors
$l_fg_color:         #44d;
$l_bg_color:         transparent;
$l_hover_bg_color:   $l_fg_color;
$l_hover_fg_color:   #fff;

// Code colors
$code_bg:            #fafafa;
$code_fg:            inherit;
$code_border:        #ddd;
$code_block_bg:      #fafafa;
$code_block_fg:      inherit;
$code_block_border:  #35a;

// Meta colors
$meta_fg:            #666;

// Layout
$content_max_width:  800px;

// Fonts
$font_sans_serif:    "Helvetica Neue", Helvetica, Arial, sans-serif;
$font_monospace:     Menlo, Monaco, Consolas, "Lucida Console", monospace;
$default_font:       $font_sans_serif;
$content_font:       $font_sans_serif;
$code_font:          $font_monospace;

// Font sizes
$normal_font_size:   18px;
$code_font_size:     16px;
$meta_font_size:     15px;
$footer_font_size:   medium;
$title_font_size:    24px;
$line_height:        1.4;
$code_line_height:   1.2;

// Mixins

@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// Defaults

html, body {
  background-color: $default_bg;
  color: $default_fg;
  font-size: $normal_font_size;
  font-family: $default_font;
  line-height: $line_height;
  margin: 0;
  padding: 0;
}

p {
  margin: 22px 0;
}

pre {
  margin: 10px 0;
  padding: 16px 10px;
  border-left: 3px solid $code_block_border;
  background-color: $code_block_bg;
  color: $code_block_fg;
  overflow-x: auto;
  line-height: $code_line_height;
}

code {
  border: 1px solid $code_border;
  background-color: $code_bg;
  color: $code_fg;
  @include border-radius(2px);
  padding: 0 6px;
  font-family: $code_font;
  font-size: $code_font_size;
}

pre code {
  background-color: transparent;
  color: inherit;
  border: 0;
  padding: 0;
  font-size: $code_font_size;
}

a {
  color: $l_fg_color;
  background-color: $l_bg_color;
  text-decoration: underline;
  &:hover {
    color: $l_hover_fg_color;
    background-color: $l_hover_bg_color;
    text-decoration: none;
  }
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: square; 
}

// Page setup

.header {
  background-color: $header_bg;
  color: $header_fg;
  margin: 0;

  h1 {
    display: inline;
  }

  .title {
    margin: 0;
    padding: 5px 0;
    font-size: $title_font_size;
    font-weight: bold;
    a:hover {
      background-color: inherit;
      color: inherit;
    }
  }

  a {
    color: #fff;
    line-height: 24px;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    padding: 5px 5px;
    &:hover {
      background-color: $header_fg;
      color: $header_bg;
    }
  }
}

.content {
  padding-bottom: 10px;
  border-bottom: 1px solid $default_border;
  font-family: $content_font;
}

footer {
  color: $footer_fg;
  padding: 10px;
  font-size: $footer_font_size;
  text-align: right;

  a {
    text-decoration: none;
  }
}

// Random elements

.box {
  max-width: $content_max_width;
  padding: 0 5px;
  margin: 0 auto;
}

.pagetitle {
  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $header_fg;
      background-color: $header_bg;
    }
  }
}

.float-container {
  .float-left {
    float: left;
  }

  .float-right {
    float: right;
  }
}

.prev-next {
  padding: 15px 0 0 0;
  overflow: hidden;
}

.right {
  float: right;
  text-align: right;
}

.posts {
  ul {
    list-style: none;
  }
}

.no-bul {
  list-style: none;
}

.inline-list {
  li {
    display: inline;
  }
}

.info-table {
  border: none;
  th {
    border: none;
    margin: 0;
    text-align: right;
    padding: 2px 15px 2px 0;
  }
}

.post-header {
  h2 {
    margin-bottom: 2px;
  }
  .post-meta {
    margin-top: 0;
    font-size: $meta_font_size;
    color: $meta_fg;
    span {
      margin-right: 20px;
    }
  }
}

.figure {
  text-align: center;
  img {
    border: 1px solid $default_border;
    max-width: 100%;
  }
}

