<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>{{site-title}}&raquo; {% block subtitle %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link ref="alternate" type="application/atom+xml" title="posts" href="{{atom-uri}}" />
  {% style "/styles/main.css" %}
</head>
<body>

<div class="header">
  <div class="box">
    <h1 id="top" class="title">
      <a href="/">{{site-title}}&raquo;</a>
    </h1>
  </div>
</div>

<div class="box">
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
  <footer class="float-container">
    <div class="float-left">
      <a href="#top">&#9650; top</a>
    </div>
    <div class="float-right">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
    </div>
  </footer>
</div>

</body>
</html>

